body, html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

body {
    background-color: #f0fafa;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    padding-bottom: 60px;
}

footer {
    position: relative;
    bottom: 0;
    height: 50px;

    background-color: #777;

    text-align: center;

    padding: 5px 0;
    box-sizing: border-box;
}

footer img {
    height: 80px;
}

footer .author {
    display: inline-block;
    max-width: 200px;
}

footer h2 {
    font-size: 22px;
    margin-top: 10px;
}

footer h4 a {
    color: #b3fcfa;
}

#logo {
    position: absolute;
    height: 8em;
    width: 11em;
    left: 1em;
    top: 1.25em;
}

.delete-icon, .delete-icon:hover {
    outline: none !important;
    background: transparent !important;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-top: 2px;
    color: #f0fafa;
    transition: color 0.5s ease;
}

.delete-icon:hover {
    color: #e98400;
}

.btn {
    transition: all 0.5s ease;
}

.btn-primary, .btn-warning {
    background-color: #4E7DC4 !important;
    border-color: #4E7DC4 !important;
}

.btn-primary:hover, .btn-warning:hover {
    background-color: #3564ac !important;
    border-color: #3564ac !important;
}

.bg-danger {
    background-color: transparent;
    border: 1px solid #F44231;
    color: #F44231;
}

.bg-warning, .bg-info {
    background-color: transparent;
    border: 1px solid #F8A02B;
}

.bg-gray {
    background-color: #777;
}

.glyphicon-info-sign {
    color: #F8A02B;
}

.info-box {
    max-width: 750px;
    margin: 10px auto;

    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.jumbotron {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 15px;
    z-index: 2;
    position: sticky;
    top: 0vw;
    width: 100%;
}

.jumbotron h1 {
    margin-bottom: 20px;
}

.jumbotron h1, h2, h4 {
    color: #f0fafa;

    text-shadow: 0 4px 0 rgba(0, 0, 0, .1);

    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

    margin-top: 10px;
}

.glyphicon {
    position: relative;
    top: 3px;
}

.glyphicon-search {
    position: absolute;

    margin-left: 10px;
    margin-top: 6px;
    color: #444;
}

.search {
    display: inline-block;

    width: 70%;
    max-width: 750px;

    padding-left: 30px;
    box-sizing: border-box;
}

.keep-right {
    margin-right: 10px;
}

.keep-top {
    margin-top: 10px;
}

.package {
    max-width: 95%;
    margin: 10px auto;

    border-radius: 5px;
    padding: 0.5em 2em;
    box-sizing: border-box;
    box-shadow: 2px 2px #e9e9eb;

    background-color: #000000;
    border: 1px solid #e1e1e8;
    
    -webkit-transition: all 2s;
    transition: all 2s;
}

.package h3 {
    margin: 0;
}

.package.ng-enter {
    -webkit-animation: fadeInRight 0.25s;
    -moz-animation: fadeInRight 0.25s;
    -ms-animation: fadeInRight 0.25s;
    -o-animation: fadeInRight 0.25s;
    animation: fadeInRight 0.25s;
}

.package.ng-leave {
    -webkit-animation: fadeOutLeft 0.25s;
    -moz-animation: fadeOutLeft 0.25s;
    -ms-animation: fadeOutLeft 0.25s;
    -o-animation: fadeOutLeft 0.25s;
    animation: fadeOutLeft 0.25s;
}

.dialog {
    display: block;
}

.dialog .dimmer {
    position: fixed;
    z-index: 2;

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);

    text-align: center;
}

.dialog .dimmer .inner {
    display: inline-block;

    min-width: 400px;

    margin-top: 33vh;

    border: 3px solid #777;
    border-radius: 5px;
    background-color: #000000;

    padding: 8px;
}

.text-primary {
    color: #f0fafa;
    line-height: 1.5em;
    cursor: pointer;
    width: fit-content;
}

.text-primary:hover {
    color:  #4E7DC4;
    transition: color 0.5s ease;
}

.text-info {
    color: #7F7F7F;
}

.text-danger {
    color: #F44231;
}

td {
    border: none !important;
    color: #f0fafa;
    padding: 8px 5px 2px 5px !important;
}

.label {
    color: #4E7DC4;
}

.header-row {
    margin-left: -24px;
    margin-right: -24px;
}

.glyphicon-chevron-up, .glyphicon-chevron-down {
    position: absolute;
    transition: all ease;
    font-size: 10pt;
    top: 12px;
}

.form-control {
    font-size: 16px;
}

@media all and (max-width: 600px) {
    pre {
        background-color: #f0fafa;
        width: 68%;
        height: auto;
        max-height: 40vw;
    }
}

@media all and (min-width: 600px) {
    pre {
        background-color: #f0fafa;
        width: 100%;
        height: auto;
        max-height: 20vw;
    }
}